body {
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
    justify-content: center;
}
.lightmode {
    background-color: lightcyan;
}
.light{
    color: lightgoldenrodyellow;
}
div.light2 {
    background-color: #b3b2b2;
}
.darkmode {
        background-color: rgb(17, 9, 9);
}
.dark {
    color: #640000;
}
div.dark2 {
    background-color: #090808;
}
.osumode {
    background-color: #ff5229;
}
.osu{
    color: #ff2f00;
}
div.osu2{
    background-color:grey;
}

a, h1, p{
	text-decoration: none;
    color: inherit;
}
#game-info{
    color: initial;
}
	
a:hover{
	text-decoration: underline;
}

/*	header	*/
header{
	height: 120px;
	/*margin-bottom: 15px;*/
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}	

header a {
}

.site-img-container img{
	height: 50px;
	width: 50px;
	object-fit: contain;	
}

.site-title {
	font-size: 80px;
	font-weight: 100;
	margin: 0 0 0 20px;
	padding-top: 30px;
}
div.screenshots-parent{
    margin-top: 40px;
    text-align: center;
}
div.screenshots{
    display: inline-block;
    height: 70px;
    width: 500px;
    margin-bottom: 60px;
}
header.site-title{
    margin: 0 0 0 0px;
    font-size: 50px;
    padding-top: 0px;
    height: inherit;
}
.spacer{
    margin-top: 80px;
}

.upper-portion{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.color-mode-container{
	background-color: black;
	text-align: center;
	width: 120px;
	font-weight: bold;
	padding: 3px;
	margin: 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

select{
	background-color: darkgrey;
	text-align: center;
	font-weight: bold;
}

.main-links-container{
	display: flex;
	justify-content: center;
}

.main-links{
	text-align: center;
	display: block;
	height: 20px;
	width: 120px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	background-color: black;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.main-links:hover{
	background-color: #4e4e4e;
	box-shadow: 3px 3px 8px black;
	color: orange;
	text-decoration: none;
}

.middle-portion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Bottom part */
.lower-portion{
	display: flex;
	justify-content: center;
}
.game-img-container img{
	width: 400px;
	height: 300px;
	object-fit: contain;
}

.game-details-container{
	display: flex;
	width: 600px;
	margin-left: 5px;
}

.ad-container{
	margin-left: 5px;
}

.small-text{
	font-size: 70%;
}

.game-details{
	margin: 10px;
}

/* Bottom Links and Ad Notice*/
.links-and-ad-notice{
	display: flex;
	width: 400px;
}

.half-size-for-bottom{
	font-size: 50%;
}
#bottom-links-container{
	display: flex;
	flex-direction: column;
	border-right: 2px solid black; 
}

.bottom-links{
	text-align: center;
	height: 10px;
	width: 60px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	background-color: black;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.bottom-links:hover{
	background-color: #4e4e4e;
	box-shadow: 3px 3px 8px grey;
	color: orange;
	text-decoration: none;
}
.ad-paragraph{
	display: flex;
}
.ad-notice{
	display: flex;
}
.ad-free{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
	background-color: black;
	cursor: pointer;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}
.ad-free:hover{
	text-decoration: none;
	background-color: #4e4e4e;
	color: orange;
}
.ad-notice-container img{
	width: 50px;
	height: 50px;
	object-fit: contain;
}
.bd{
	
}

.game-info{
	left: 30px;
	top: 150px;
	position: Fixed;
	color: white;
}

.hidden {
    display: none;
}

.modal-body {
    padding: 20px;
}
#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-body {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    border-radius: 15px;
}

#review-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
    cursor: pointer;
}
.modal-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	
    background-color: black;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
}

.modal-header #modal-close{
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	font-weight: bold;
}

#reviews{
   background-color: black;
}

.review{
	margin: 10px;
	padding: 10px;
	background-color: gray;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
.neutral-color{
    background-color: #373737;
}
.space{
    padding:20px;
}